name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    paths-ignore:
      - ".idea/**"
      - ".vscode/**"
      - "LICENSE"
      - "*.md"
  pull_request:
    paths-ignore:
      - ".vscode/**"
      - "LICENSE"
      - "*.md"

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, '[skip build]') == false

    strategy:
      matrix:
        go-version: ['1.24', '1.25']

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Install libsoundio
        run: |
          sudo apt-get install libsoundio2 libsoundio-dev

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install Go dependencies
        run: go get -t

      - name: Build
        run: go build
